@use "../components/vars" as v;
@use "../components/functions" as fn;
@use "../components/type" as t;
@use "../components/mixins" as *;

.screen[data-screen="welcome"] {
  // Role: welcome; presentation: screen
  // Headline: Welcome
  .screen {
    &__panel {
      display: flex;
      flex-direction: column;
      justify-content: space-between !important;
      height: 100%;
      @include desktop {
        max-height: 680px;
      }
    }
    &__sound-toggle {
      display: none !important;
    }
    &__eyebrow {
      @extend %jsmii-logo-placement;
    }
    &__actions {
      margin: 0;
      justify-content: center;
      max-height: fit-content;
    }
  }
}

.screen[data-screen="welcome"] .screen__panel {
  @extend %jsmii-style-h1;
}
